html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
}

li {
    list-style: none;
}

.all-wrapper {
    width: auto;
    font-family: 游明朝体;
    font-style: normal;
    color: #212121;
}

.header {
    width: 100%;
    height: 100vh;
}

.header-inner {
    padding-top: 50px;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    align-items: center;
    height: 268px;
}

.show-menu {
    display: flex;
}

.header-img {
    padding-right: 122;
}

.item {
    padding-left: 30px;
    padding-right: 30px;
    list-style: none;
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: #707070;
}

.mv {
    display: flex;
}

.mv-ttl-wrapper {
    width: 835px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.mv-ttls {
    position: absolute;
    text-align: center;
}

.mv-ttl {
    margin-top: 50%;
    font-size: 10rem;
    margin-bottom: 16px;
}

.mv-subttl {
    font-size: 2.5rem;
    margin-top: 16px;
    color: #707070;
}

.mv-background {
    position: absolute;
    left: 43%;
    width: 53vw;
    top: 30%;
}

.mv-img {
    position: absolute;
    margin-right: auto;
    width: 53vw;
    left: 35%;
    top: 35%;
}

.news {
    height: 80vh;
    background-color: #FFF5E0;
    margin-bottom: 168px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.news-ttl-wrapper {
    padding-top: 5vh;
    padding-bottom: 30px;
    padding-left: 67px;
    display: flex;
    position: relative;
}

.news-ttl-en {
    font-size: 100px;
    margin-top: 0;
    margin-bottom: auto;
}

.news-ttl-ja {
    font-size: 50px;
    padding-left: 35px;
    padding-top: auto;
    padding-bottom: auto;
    color: #707070;
    top: 0%;
}

.list-news {
    display: flex;
    align-items: center;
    padding-left: 59px;
}

.list-news li {
    padding-right: 7vw;
    width: 30vw;
}

.item-ttl {
    text-decoration: underline;
    text-align: center;
    padding-bottom: 10px;
    font-size: 2.5rem;
}

.item-date {
    text-align: right;
    font-size: 2.5rem;
}

.about {
    height: 846px;
    display: flex;
}

.about-img-wrapper {
    padding-left: 5vw;
    width: 50vw;
}

.about-img-back {
    width: 44vw;
    height: 32vw;
    background-color: #FFF5E0;
    margin-top: 111px;
}

.thumbnail {
    position: absolute;
    top: 210vh;
    left: 8vw;
    width: 44vw;
}

.about-text-wrapper {
    padding-left: 9vw;
    padding-right: 5vw;
}

.about-ttl {
    font-size: 50px;
}

.about-text {
    font-size: 25px;
    color: #707070;
}

.gallery {
    height: 1025px;
}

.gallery-ttl {
    text-align: center;
    font-size: 50px;
}

.slide-wrap {
    display: flex;
    overflow: hidden;
}

.form-wrap {
    height: 1478px;
}

.form-ttl {
    margin: 0px;
    font-size: 75px;
    padding-left: 120px;
    padding-right: 120px;
    height: 150px;
    background-color: #F7BB3E;
    vertical-align: middle;
    padding-top: 38px;
}

#form {
    height: 1328px;
    background-color: #DDDDDD;
    padding-left: 120px;
    padding-right: 120px;
}

.mailtxt {
    margin: 0;
    padding-top: 119px;
    padding-bottom: 65px;
    font-size: 25px;
    color: #707070;
}

.form {
    margin: 0px;
}

.form li {
    display: flex;
    margin-bottom: 40px;
}

.text_area {
    font-size: 30px;
}

.form_area {
    margin: 0 0 0 auto;
}

.form-item {
    width: 859px;
    height: 73px;
    font-size: 30px;
}

.form_area textarea {
    height: 203px;
}

hr {
    color: #F5F5F5;
    margin-bottom: 40px;
}

.form-submit {
    width: 314px;
    height: 77px;
    margin: 0 auto;
    font-size: 30px;
    color: #707070;
    background-color: #F7BB3E;
}

.footer {
    height: 600px;
}

.footer-inner {
    padding: 0 120px;
    height: 500px;
    background-color: #FFF5E0;
}

.footer-img {
    padding-top: 108px;
}

.link_area a {
    padding-top: 30px;
    padding-left: 61.5px;
    font-size: 25px;
}

.footer-copy-rights {
    height: 100px;
    text-align: center;
    padding-top: 38px;
    font-size: 38px;
    color: #707070;
    background-color: #F7BB3E;
}